const env = {
    API_ENTRYPOINT: "https://api.controleonline.com",
    DOMAIN: "https://manager.controleonline.com",
    SOCKET: "wss://api.controleonline.com",
    MANAGER_APP: 'https://admin.controleonline.com',
    APP_TYPE:"MANAGER",
    FIREBASE_ANDROID_GOOGLE_SERVICES_FILE: "./config/firebase/manager.local.json",
}
module.exports = { env };
