const env = {
  API_ENTRYPOINT: 'https://api.controleonline.com',
  API_PLAYWRIGHT: 'https://s.controleonline.com',
  DOMAIN: 'https://app.controleonline.com',
  HTACCESS_USER: '',
  HTACCESS_PASSWORD: '',
  SOCKET: 'wss://api.controleonline.com',
  APP_TYPE: 'MANAGER',
  ZOOM: 70,
  MANAGER_APP: 'https://app.controleonline.com',
  FIREBASE_ANDROID_GOOGLE_SERVICES_FILE: './config/firebase/manager.local.json',
}
module.exports = { env };
