const env = {
    API_ENTRYPOINT: "https://api.controleonline.com",
    DOMAIN: "https://manager.controleonline.com",
    SOCKET: "wss://api.controleonline.com",
    MANAGER_APP: 'https://admin.controleonline.com',
    APP_TYPE:"MANAGER",
    GMAPS_KEY: '',
    GMAPS_GOOGLE_CLIENT_ID: '',
}
module.exports = { env };
